/* Common styles for all screen sizes */
body {
    font-family: Arial, sans-serif;
    background-color: #313334;
    margin: 0;
}

.main_text {
    display: flex;
    justify-content: center;
}

.main_text h1 {
    color: white;
    font-size: 35px;
}

.container_parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.container {
    text-align: center;
    background-color: #6bc094;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 400px;
}

h1 {
    font-size: 24px;
    color: #333;
}

.input-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

input[type="password"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}


@media (max-width: 750px) {
    .container {
        
        padding: 10px;
        
    }

    h1 {
        font-size: 20px;
    }

    input[type="password"] {
        width: 70%;
    }
}
